.menu-body {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap');
  
  .menu-tabs {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .tab-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #f4f4f4;
    font-family: 'Livvic', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tab-button.active {
    background-color: #ff6347;
    color: #fff;
  }
  
  .menu-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1.5px solid #ccc;
    padding-bottom: 10px;
    font-family: 'Livvic', sans-serif;
  }
  
  .menu-image {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    transition: transform 0.3s ease;
  }
  
  .menu-image:hover {
    transform: scale(1.1);
  }
  
  .menu-details {
    text-align: left;
    flex: 1;
  }
  
  .price {
    font-weight: bold;
    color: #ff6347;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .next-button {
    padding: 10px 20px;
    border: none;
    background-color: #ff6347;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Livvic', sans-serif;
  }
  
  .next-button:hover {
    background-color: #e5533d;
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .menu-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu-image {
      margin-bottom: 10px;
    }
  
    .pagination {
      text-align: center;
    }
  }

  /* Modal overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal content */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.modal-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  