.about-relax-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    background-color: black;
    color: white;
  }
  
  .about-relax-text {
    flex: 1;
    max-width: 50%;
    margin-left: 100px;
  }
  
  .about-relax-subheading {
    color: #e58e26;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .about-relax-heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .about-relax-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 20px;
  }
  
  .about-relax-image {
    flex: 1;
    margin-top: 80px;
  }
  
  .about-relax-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    height: 400px;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .about-relax-container {
      flex-direction: column;
      text-align: center;
    }
  
    .about-relax-text {
      max-width: 90%;
    }
  
    .about-relax-image img {
      max-width: 80%;
    }
  }
  